@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@300;400;500;600;700&display=swap');
$main-color: #3e8cab;
$second-color: #e39845;
$main30-color: #f1f7fa;
$text-color: #777777;
$black-color: #000000;
$white-color: #fff;
$shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
$font-regular: 'ping-regular', sans-serif;
$font-bold: 'ping-bold', sans-serif;
$main-transation: .3s ease-in-out;
:target {
  scroll-margin-top: 80px;
}
.fancybox__container {
  z-index: 1999;
}
.fancybox__track,
.fancybox__content,
.carousel__track {
  direction: ltr !important;
}
@mixin centerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin centerAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin clearInput {
  border: none;
  background: none;
  outline: none;
}
* {
  margin: 0;
  padding: 0;
  direction: rtl;
  line-height: 32px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Noto Kufi Arabic', sans-serif;
}
body {
  overflow-x: hidden;
  position: relative;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background-color: $white-color;
}
::-webkit-scrollbar-thumb {
  background: $main-color;
  height: 300px;
}
//************************//
.header {
  width: 100%;
  height: 80px;
  position: sticky;
  top: 0;
  left: 0;
  background: $white-color;
  z-index: 99999;
  box-shadow: $shadow;
  .container {
    height: 80px;
    .logo {
      height: 80px;
      @include centerFlex();
      img {
        max-height: 26px;
      }
    }
    .nav-links {
      height: 100%;
      @media (max-width: 768px) {
        position: fixed;
        transition: all .5s ease-in-out;
        left: -100%;
        top: 80px;
        width: 100%;
        height: calc(100vh - 80px);
        background-color: $white-color;
        &.showing {
          left: 0;
        }
        ul {
          flex-direction: column;
          justify-content: center;
          .nav-link {
            height: 70px !important;
          }
        }
      }
      ul {
        display: flex;
        height: 100%;
        .nav-link {
          height: 100%;
          padding: 0 16px;
          @include centerFlex();
          a {
            color: $text-color;
            font-size: 14px;
            font-weight: 600;
            transition: all $main-transation;
            &:hover,
            &.active {
              color: $main-color;
              &::after {
                width: 100%;
              }
            }
            position: relative;
            &::after {
              transition: all $main-transation;
              content: '';
              background: $main-color;
              position: absolute;
              bottom: 0;
              width: 0;
              height: 2px;
              left: 50%;
              transform: translateX(-50%);
            }
          }
        }
      }
    }
  }
  .btn {
    border-radius: 12px;
    background: $main-color;
    padding: 6px 12px;
    color: $white-color;
    font-size: 14px;
    @include centerFlex();
    height: 40px;
    i {
      font-size: 18px;
    }
  }
  .toogler {
    display: none;
    width: 45px;
    @media (max-width: 768px) {
      display: block;
    }
  }
}
.content {
  width: 100%;
  .hero-section {
    padding: 48px 0;
    position: relative;
    .clipy {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      background: $main30-color;
      clip-path: polygon(0% 0%, 0% 100%, 100% 40%, 100% 0%);
      img {
        position: absolute;
        max-height: 150px;
        left: 30px;
        top: 30px;
        animation: swing 5s linear infinite;
        @media (max-width: 450px) {
          top: 385px;
          transform: rotate(26deg);
        }
      }
    }
    @keyframes swing {
      0% {
        left: 30px;
      }
      25% {
        left: 60px;
      }
      50% {
        left: 90px;
      }
      75% {
        left: 60px;
      }
      100% {
        left: 30px;
      }
    }
    .mockup {
      position: relative;
      height: 450px;
      @media (max-width: 768px) {
        margin-top: 60px;
      }
      img {
        max-width: 100%;
        position: absolute;
        transform: rotate(15deg);
        &:nth-child(1) {
          right: 15%;
          z-index: 999;
        }
        &:nth-child(2) {
          right: 35%;
          top: 30px;
          z-index: 99;
        }
        &:nth-child(3) {
          right: 55%;
          top: 60px;
          z-index: 9;
        }
      }
      @media (max-width: 768px) {
        img {
          &:nth-child(1) {
            right: 10%;
            z-index: 999;
          }
          &:nth-child(2) {
            right: 30%;
            top: 30px;
            z-index: 99;
          }
          &:nth-child(3) {
            right: 50%;
            top: 60px;
            z-index: 9;
          }
        }
      }
      @media (max-width: 576px) {
        img {
          max-height: 72%;
        }
      }
    }
    .content-wrap {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 24px;
      h1 {
        font-size: 26px;
        line-height: 48px;
        color: $black-color;
        span {
          line-height: inherit;
          color: $second-color;
        }
        font-weight: 600;
      }
      p {
        color: $text-color;
        line-height: 28px;
      }
      .btns {
        display: flex;
        gap: 16px;
      }
    }
  }
  .statics {
    margin-top: 80px;
    @media (max-width: 768px) {
      margin-top: 0;
    }
    .statics-card {
      box-shadow: $shadow;
      padding: 32px 16px;
      border-radius: 16px;
      @include centerFlex();
      flex-direction: column;
      img {
        max-height: 45px;
        margin-bottom: 16px;
      }
      h4 {
        font-weight: 600;
        span {
          font-weight: 600;
        }
        margin: 0;
        color: $black-color;
      }
      p {
        margin: 0;
      }
    }
  }
  .how {
    padding: 80px 0;
    .title {
      color: $main-color;
      font-weight: 600;
      margin-bottom: 16px;
      span {
        color: $second-color;
      }
    }
    .sub-title {
      margin-bottom: 68px;
      line-height: 22px;
      padding: 0 26%;
      @media (max-width: 576px) {
        padding: 0 8px;
      }
    }
    .taps-wrapper {
      .step {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 16px;
        padding-left: 30px;
        .icon {
          background: $main30-color;
          width: 70px;
          height: 60px;
          border-radius: 14px;
          @include centerFlex();
          font-weight: 600;
          color: $main-color;
          font-size: 22px;
          img {
            max-height: 34px;
          }
        }
        h6 {
          margin: 0;
          color: $black-color;
          font-weight: 600;
        }
        p {
          margin: 0;
          color: $text-color;
          line-height: 24px;
        }
      }
    }
    .circle {
      width: 500px;
      aspect-ratio: 1/1;
      background: $main-color;
      border-radius: 50%;
      position: relative;
      @media (max-width: 450px) {
        width: 350px;
      }
      .img1 {
        position: absolute;
        max-height: 430px;
        transform: rotate(22deg);
        bottom: -16px;
        right: 38px;
        @media (max-width: 450px) {
          max-height: 300px;
        }
      }
      .img2 {
        position: absolute;
        max-height: 340px;
        transform: rotate(-22deg);
        top: -40px;
        left: 40px;
        @media (max-width: 450px) {
          max-height: 220px;
        }
      }
      .legend {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .imgs-wrap {
      @media (max-width: 768px) {
        margin-top: 60px;
      }
    }
  }
  .features {
    position: relative;
    padding: 60px 0;
    .toop {
      position: absolute;
      right: 40px;
      top: 100px;
      animation: swing-right 5s linear infinite;
      @media (max-width: 450px) {
        top: 20px;
      }
    }
    .bottom {
      position: absolute;
      left: 40px;
      bottom: 0;
      animation: swing-left 5s linear infinite;
    }
    @keyframes swing-left {
      0% {
        left: 40px;
      }
      25% {
        left: 60px;
      }
      50% {
        left: 80px;
      }
      75% {
        left: 60px;
      }
      100% {
        left: 40px;
      }
    }
    @keyframes swing-right {
      0% {
        right: 40px;
      }
      25% {
        right: 60px;
      }
      50% {
        right: 80px;
      }
      75% {
        right: 60px;
      }
      100% {
        right: 40px;
      }
    }
    .title {
      color: $black-color;
      font-weight: 600;
      margin-bottom: 48px;
    }
    .feature-card {
      height: 100%;
      box-shadow: $shadow;
      background: $white-color;
      padding: 24px 16px;
      border-radius: 16px;
      @include centerFlex();
      flex-direction: column;
      position: relative;
      z-index: 9;
      .icon {
        @include centerFlex();
        background: $main-color;
        border-radius: 16px;
        height: 78px;
        width: 78px;
        margin-bottom: 28px;
        img {
          max-height: 40px;
        }
      }
      h4 {
        color: $black-color;
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 12px;
      }
      p {
        margin: 0;
        text-align: center;
        color: $text-color;
        line-height: 24px;
        font-size: 14px;
      }
    }
  }
  .faq {
    padding: 60px 0;
    h3 {
      color: $black-color;
      font-weight: 600;
      margin-bottom: 32px;
      font-size: 28px;
      @media (max-width: 768px) {
        text-align: center;
      }
    }
    .img {
      width: 100%;
      height: 85%;
      display: flex;
      align-items: center;
      @media (max-width: 768px) {
        @include centerFlex();
        margin-bottom: 40px;
      }
      img {
        width: 350px;
        object-fit: contain;
        object-position: center;
      }
    }
  }
  .contact-us {
    padding: 60px 0;
    position: relative;
    overflow-x: hidden;
    img {
      width: 200px;
      position: absolute;
      right: -50px;
      transform: rotate(-100deg);
      opacity: 0.25;
      z-index: -1;
      @media (max-width: 768px) {
        right: initial;
        left: -18px;
        transform: rotate(-5deg);
      }
    }
    .title {
      color: $black-color;
      font-weight: 600;
      font-size: 22px;
      margin-bottom: 60px;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 16px;
      input,
      textarea {
        @include clearInput();
        background: #fafafa;
        padding: 12px 16px;
        border-radius: 12px;
        font-size: 14px;
        color: $black-color;
      }
      button {
        width: 120px;
        @include clearInput();
        background: $main-color;
        color: $white-color;
        align-self: flex-end;
        height: 40px;
        margin-top: 16px;
        border-radius: 8px;
      }
    }
    .contact-info {
      padding: 0 60px;
      @media (max-width: 768px) {
        margin-top: 40px;
        padding: 0 20px;
      }
      h3 {
        font-weight: 600;
        color: $black-color;
        font-size: 22px;
      }
      .info {
        margin-top: 48px;
        display: flex;
        gap: 24px;
        .icon {
          @include centerFlex();
          width: 60px;
          i {
            color: $main-color;
            font-size: 20px;
          }
          height: 60px;
          border-radius: 50%;
          border: 1px solid $main-color;
        }
        h6 {
          color: $black-color;
          margin: 0;
        }
        a {
          color: $text-color;
          transition: $main-transation;
          &:hover {
            color: $main-color;
          }
        }
      }
    }
  }
  .download-app {
    width: 100%;
    padding: 30px 0;
    height: 400px;
    background: $main30-color;
    background-size: contain;
    overflow: hidden;
    @media (max-width: 768px) {
      height: 650px;
      .app-imgs {
        margin-top: 60px;
      }
    }
    .container {
      height: 100%;
      .row {
        height: 100%;
        .img {
          height: 100%;
          display: flex;
          justify-content: center;
          position: relative;
          img {
            &:nth-child(1) {
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              z-index: 1;
            }
            &:nth-child(2) {
              z-index: 0;
              position: absolute;
              left: 10px;
              top: 60px;
            }
            &:nth-child(3) {
              z-index: 0;
              position: absolute;
              right: 10px;
              top: 60px;
            }
          }
        }
        h3 {
          color: $black-color;
          font-weight: 600;
          font-size: 42px;
          line-height: 72px;
          margin-bottom: 12px;
          @media (max-width: 450px) {
            font-size: 42px;
            line-height: 62px;
          }
        }
        p {
          color: $text-color;
        }
        .btns {
          margin-top: 32px;
          display: flex;
          gap: 24px;
        }
      }
    }
  }
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: $main-color !important;
  color: $white-color !important;
}
footer {
  padding: 40px 0;
  .footer {
    gap: 28px;
    display: flex;
    .logo img {
      max-height: 26px;
    }
    .social {
      display: flex;
      gap: 24px;
      a {
        width: 40px;
        height: 40px;
        @include centerFlex();
        border-radius: 50%;
        transition: $main-transation;
        border: 1px solid $main-color;
        i {
          color: $main-color;
          font-size: 15px;
          transition: $main-transation;
        }
        &:hover {
          border-color: $second-color;
          i {
            color: $second-color;
          }
        }
      }
    }
  }
  .copy {
    p {
      color: $main-color;
      margin: 0;
      display: flex;
      gap: 8px;
      @media (max-width: 768px) {
        display: block;
        text-align: center;
      }
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
      color: #0da166;
      img {
        max-height: 20px;
      }
    }
  }
}
.accordion-button {
  text-align: inherit;
}
.accordion-button,
.accordion-body {
  padding: 16px 0 !important;
}
.accordion-button:not(.collapsed) {
  background: none !important;
}
.accordion-button::after {
  margin-right: auto !important;
  margin-left: initial;
}
.accordion-button:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}
.accordion-item {
  border-top: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
  border-bottom: 1px solid #d7d7d7 !important;
  border-radius: 0 !important;
  p {
    font-size: 14px;
  }
}
.accordion-button:not(.collapsed) {
  box-shadow: none !important;
}
.accordion-button {
  font-size: 14px !important;
  font-weight: 600;
}
.accordion-button:not(.collapsed) {
  color: $main-color;
}
