@import url("https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@300;400;500;600;700&display=swap");
:target {
  scroll-margin-top: 80px;
}

.fancybox__container {
  z-index: 1999;
}

.fancybox__track,
.fancybox__content,
.carousel__track {
  direction: ltr !important;
}

* {
  margin: 0;
  padding: 0;
  direction: rtl;
  line-height: 32px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  font-family: "Noto Kufi Arabic", sans-serif;
}

body {
  overflow-x: hidden;
  position: relative;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: #3e8cab;
  height: 300px;
}

.header {
  width: 100%;
  height: 80px;
  position: sticky;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 99999;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
}
.header .container {
  height: 80px;
}
.header .container .logo {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .container .logo img {
  max-height: 26px;
}
.header .container .nav-links {
  height: 100%;
}
@media (max-width: 768px) {
  .header .container .nav-links {
    position: fixed;
    transition: all 0.5s ease-in-out;
    left: -100%;
    top: 80px;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: #fff;
  }
  .header .container .nav-links.showing {
    left: 0;
  }
  .header .container .nav-links ul {
    flex-direction: column;
    justify-content: center;
  }
  .header .container .nav-links ul .nav-link {
    height: 70px !important;
  }
}
.header .container .nav-links ul {
  display: flex;
  height: 100%;
}
.header .container .nav-links ul .nav-link {
  height: 100%;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .container .nav-links ul .nav-link a {
  color: #777777;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.header .container .nav-links ul .nav-link a:hover, .header .container .nav-links ul .nav-link a.active {
  color: #3e8cab;
}
.header .container .nav-links ul .nav-link a:hover::after, .header .container .nav-links ul .nav-link a.active::after {
  width: 100%;
}
.header .container .nav-links ul .nav-link a::after {
  transition: all 0.3s ease-in-out;
  content: "";
  background: #3e8cab;
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  left: 50%;
  transform: translateX(-50%);
}
.header .btn {
  border-radius: 12px;
  background: #3e8cab;
  padding: 6px 12px;
  color: #fff;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}
.header .btn i {
  font-size: 18px;
}
.header .toogler {
  display: none;
  width: 45px;
}
@media (max-width: 768px) {
  .header .toogler {
    display: block;
  }
}

.content {
  width: 100%;
}
.content .hero-section {
  padding: 48px 0;
  position: relative;
}
.content .hero-section .clipy {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: #f4fbf3;
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 40%, 100% 0%);
          clip-path: polygon(0% 0%, 0% 100%, 100% 40%, 100% 0%);
}
.content .hero-section .clipy img {
  position: absolute;
  max-height: 150px;
  left: 30px;
  top: 30px;
  animation: swing 5s linear infinite;
}
@media (max-width: 450px) {
  .content .hero-section .clipy img {
    top: 385px;
    transform: rotate(26deg);
  }
}
@keyframes swing {
  0% {
    left: 30px;
  }
  25% {
    left: 60px;
  }
  50% {
    left: 90px;
  }
  75% {
    left: 60px;
  }
  100% {
    left: 30px;
  }
}
.content .hero-section .mockup {
  position: relative;
  height: 450px;
}
@media (max-width: 768px) {
  .content .hero-section .mockup {
    margin-top: 60px;
  }
}
.content .hero-section .mockup img {
  max-width: 100%;
  position: absolute;
  transform: rotate(15deg);
}
.content .hero-section .mockup img:nth-child(1) {
  right: 15%;
  z-index: 999;
}
.content .hero-section .mockup img:nth-child(2) {
  right: 35%;
  top: 30px;
  z-index: 99;
}
.content .hero-section .mockup img:nth-child(3) {
  right: 55%;
  top: 60px;
  z-index: 9;
}
@media (max-width: 768px) {
  .content .hero-section .mockup img:nth-child(1) {
    right: 10%;
    z-index: 999;
  }
  .content .hero-section .mockup img:nth-child(2) {
    right: 30%;
    top: 30px;
    z-index: 99;
  }
  .content .hero-section .mockup img:nth-child(3) {
    right: 50%;
    top: 60px;
    z-index: 9;
  }
}
@media (max-width: 576px) {
  .content .hero-section .mockup img {
    max-height: 72%;
  }
}
.content .hero-section .content-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}
.content .hero-section .content-wrap h1 {
  font-size: 26px;
  line-height: 48px;
  color: #000000;
  font-weight: 600;
}
.content .hero-section .content-wrap h1 span {
  line-height: inherit;
  color: #3e8cab;
}
.content .hero-section .content-wrap p {
  color: #777777;
  line-height: 28px;
}
.content .hero-section .content-wrap .btns {
  display: flex;
  gap: 16px;
}
.content .statics {
  margin-top: 80px;
}
@media (max-width: 768px) {
  .content .statics {
    margin-top: 0;
  }
}
.content .statics .statics-card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
  padding: 32px 16px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.content .statics .statics-card img {
  max-height: 45px;
  margin-bottom: 16px;
}
.content .statics .statics-card h4 {
  font-weight: 600;
  margin: 0;
  color: #000000;
}
.content .statics .statics-card h4 span {
  font-weight: 600;
}
.content .statics .statics-card p {
  margin: 0;
}
.content .how {
  padding: 80px 0;
}
.content .how .title {
  color: #3e8cab;
  font-weight: 600;
  margin-bottom: 16px;
}
.content .how .title span {
  color: #e39845;
}
.content .how .sub-title {
  margin-bottom: 68px;
  line-height: 22px;
  padding: 0 26%;
}
@media (max-width: 576px) {
  .content .how .sub-title {
    padding: 0 8px;
  }
}
.content .how .taps-wrapper .step {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 16px;
  padding-left: 30px;
}
.content .how .taps-wrapper .step .icon {
  background: #f4fbf3;
  width: 70px;
  height: 60px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: #3e8cab;
  font-size: 22px;
}
.content .how .taps-wrapper .step .icon img {
  max-height: 34px;
}
.content .how .taps-wrapper .step h6 {
  margin: 0;
  color: #000000;
  font-weight: 600;
}
.content .how .taps-wrapper .step p {
  margin: 0;
  color: #777777;
  line-height: 24px;
}
.content .how .circle {
  width: 500px;
  aspect-ratio: 1/1;
  background: #3e8cab;
  border-radius: 50%;
  position: relative;
}
@media (max-width: 450px) {
  .content .how .circle {
    width: 350px;
  }
}
.content .how .circle .img1 {
  position: absolute;
  max-height: 430px;
  transform: rotate(22deg);
  bottom: -16px;
  right: 38px;
}
@media (max-width: 450px) {
  .content .how .circle .img1 {
    max-height: 300px;
  }
}
.content .how .circle .img2 {
  position: absolute;
  max-height: 340px;
  transform: rotate(-22deg);
  top: -40px;
  left: 40px;
}
@media (max-width: 450px) {
  .content .how .circle .img2 {
    max-height: 220px;
  }
}
.content .how .circle .legend {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .content .how .imgs-wrap {
    margin-top: 60px;
  }
}
.content .features {
  position: relative;
  padding: 60px 0;
}
.content .features .toop {
  position: absolute;
  right: 40px;
  top: 100px;
  animation: swing-right 5s linear infinite;
}
@media (max-width: 450px) {
  .content .features .toop {
    top: 20px;
  }
}
.content .features .bottom {
  position: absolute;
  left: 40px;
  bottom: 0;
  animation: swing-left 5s linear infinite;
}
@keyframes swing-left {
  0% {
    left: 40px;
  }
  25% {
    left: 60px;
  }
  50% {
    left: 80px;
  }
  75% {
    left: 60px;
  }
  100% {
    left: 40px;
  }
}
@keyframes swing-right {
  0% {
    right: 40px;
  }
  25% {
    right: 60px;
  }
  50% {
    right: 80px;
  }
  75% {
    right: 60px;
  }
  100% {
    right: 40px;
  }
}
.content .features .title {
  color: #000000;
  font-weight: 600;
  margin-bottom: 48px;
}
.content .features .feature-card {
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
  background: #fff;
  padding: 24px 16px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 9;
}
.content .features .feature-card .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3e8cab;
  border-radius: 16px;
  height: 78px;
  width: 78px;
  margin-bottom: 28px;
}
.content .features .feature-card .icon img {
  max-height: 40px;
}
.content .features .feature-card h4 {
  color: #000000;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 12px;
}
.content .features .feature-card p {
  margin: 0;
  text-align: center;
  color: #777777;
  line-height: 24px;
  font-size: 14px;
}
.content .faq {
  padding: 60px 0;
}
.content .faq h3 {
  color: #000000;
  font-weight: 600;
  margin-bottom: 32px;
  font-size: 28px;
}
@media (max-width: 768px) {
  .content .faq h3 {
    text-align: center;
  }
}
.content .faq .img {
  width: 100%;
  height: 85%;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .content .faq .img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }
}
.content .faq .img img {
  width: 350px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.content .contact-us {
  padding: 60px 0;
  position: relative;
  overflow-x: hidden;
}
.content .contact-us img {
  width: 200px;
  position: absolute;
  right: -55px;
  transform: rotate(-44deg);
  opacity: 0.25;
  z-index: -1;
}
@media (max-width: 768px) {
  .content .contact-us img {
    right: initial;
    left: -50px;
    transform: rotate(44deg);
  }
}
.content .contact-us .title {
  color: #000000;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 60px;
}
.content .contact-us form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.content .contact-us form input,
.content .contact-us form textarea {
  border: none;
  background: none;
  outline: none;
  background: #fafafa;
  padding: 12px 16px;
  border-radius: 12px;
  font-size: 14px;
  color: #000000;
}
.content .contact-us form button {
  width: 120px;
  border: none;
  background: none;
  outline: none;
  background: #3e8cab;
  color: #fff;
  align-self: flex-end;
  height: 40px;
  margin-top: 16px;
  border-radius: 8px;
}
.content .contact-us .contact-info {
  padding: 0 60px;
}
@media (max-width: 768px) {
  .content .contact-us .contact-info {
    margin-top: 40px;
    padding: 0 20px;
  }
}
.content .contact-us .contact-info h3 {
  font-weight: 600;
  color: #000000;
  font-size: 22px;
}
.content .contact-us .contact-info .info {
  margin-top: 48px;
  display: flex;
  gap: 24px;
}
.content .contact-us .contact-info .info .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #3e8cab;
}
.content .contact-us .contact-info .info .icon i {
  color: #3e8cab;
  font-size: 20px;
}
.content .contact-us .contact-info .info h6 {
  color: #000000;
  margin: 0;
}
.content .contact-us .contact-info .info a {
  color: #777777;
  transition: 0.3s ease-in-out;
}
.content .contact-us .contact-info .info a:hover {
  color: #3e8cab;
}
.content .download-app {
  width: 100%;
  padding: 30px 0;
  height: 400px;
  background: #f4fbf3;
  background-size: contain;
  overflow: hidden;
}
@media (max-width: 768px) {
  .content .download-app {
    height: 650px;
  }
  .content .download-app .app-imgs {
    margin-top: 60px;
  }
}
.content .download-app .container {
  height: 100%;
}
.content .download-app .container .row {
  height: 100%;
}
.content .download-app .container .row .img {
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.content .download-app .container .row .img img:nth-child(1) {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.content .download-app .container .row .img img:nth-child(2) {
  z-index: 0;
  position: absolute;
  left: 10px;
  top: 60px;
}
.content .download-app .container .row .img img:nth-child(3) {
  z-index: 0;
  position: absolute;
  right: 10px;
  top: 60px;
}
.content .download-app .container .row h3 {
  color: #000000;
  font-weight: 600;
  font-size: 42px;
  line-height: 72px;
  margin-bottom: 12px;
}
@media (max-width: 450px) {
  .content .download-app .container .row h3 {
    font-size: 42px;
    line-height: 62px;
  }
}
.content .download-app .container .row p {
  color: #777777;
}
.content .download-app .container .row .btns {
  margin-top: 32px;
  display: flex;
  gap: 24px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #3e8cab !important;
  color: #fff !important;
}

footer {
  padding: 40px 0;
}
footer .footer {
  gap: 28px;
  display: flex;
}
footer .footer .logo img {
  max-height: 26px;
}
footer .footer .social {
  display: flex;
  gap: 24px;
}
footer .footer .social a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  border: 1px solid #3e8cab;
}
footer .footer .social a i {
  color: #3e8cab;
  font-size: 15px;
  transition: 0.3s ease-in-out;
}
footer .footer .social a:hover {
  border-color: #e39845;
}
footer .footer .social a:hover i {
  color: #e39845;
}
footer .copy p {
  color: #3e8cab;
  margin: 0;
  display: flex;
  gap: 8px;
}
@media (max-width: 768px) {
  footer .copy p {
    display: block;
    text-align: center;
  }
}
footer .copy a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: #0da166;
}
footer .copy a img {
  max-height: 20px;
}

.accordion-button {
  text-align: inherit;
}

.accordion-button,
.accordion-body {
  padding: 16px 0 !important;
}

.accordion-button:not(.collapsed) {
  background: none !important;
}

.accordion-button::after {
  margin-right: auto !important;
  margin-left: initial;
}

.accordion-button:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.accordion-item {
  border-top: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
  border-bottom: 1px solid #d7d7d7 !important;
  border-radius: 0 !important;
}
.accordion-item p {
  font-size: 14px;
}

.accordion-button:not(.collapsed) {
  box-shadow: none !important;
}

.accordion-button {
  font-size: 14px !important;
  font-weight: 600;
}

.accordion-button:not(.collapsed) {
  color: #3e8cab;
}/*# sourceMappingURL=style.css.map */